@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #F8FAFC;
  --foreground: #171717;

  --sidebar-bg: #FFFFFF;
  --sidebar-border: #E5E7EB;

  --primary: #06B6D4;
  --primary-dark: #00687A;
  --secondary: #4CD7F6;

  --muted: #64748B;
}

.dark {
  --background: #0B1220;
  --foreground: #F3F4F6;

  --sidebar-bg: #111827;
  --sidebar-border: #2D3748;

  --primary: #0cd2ff;
  --primary-dark: #00687A;
  --secondary: #67E8F9;

  --muted: #94A3B8;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-sidebar-bg: var(--sidebar-bg);
  --color-sidebar-border: var(--sidebar-border);

  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
  --color-secondary: var(--secondary);
  --color-muted: var(--muted);

  --font-sans: var(--font-inter);
  --font-mono: var(--font-dm-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.font-mono {
  font-family: var(--font-dm-mono);
}
.text-primary{
  color: var(--primary);
}
.text-primary-dark{
  color: var(--primary-dark);
}
.text-secondary{
  color: var(--secondary);
}
.text-muted{
  color: var(--muted);
}